[user]
    name = Benjamin Fuchs
    email = email@benjaminfuchs.de
[core]
    excludesfile = ~/.gitexclude
    editor = vim
[diff]
    tool = meld
    submodule = log
[merge]
    tool = meld
[color]
    ui = auto
[color "branch"]
    current = blue reverse
    local = blue
    remote = yellow
[color "diff"]
    meta = yellow
    frag = magenta
    old = red
    new = green
    whitespace = red reverse
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout

    cdiff = diff --cached

    out = !git fetch && git log FETCH_HEAD
    in  = !git fetch && git log ..FETCH_HEAD

    unstage = reset HEAD --

    # Snapshot without changing working tree
    snapshot = git stash save "snapshot: $(date)" || git stash apply "stash@{0}"

    # Tip: use git diff --patience (or git pull/merge -s patience) when there
    # is a lot of repeated lines (see
    # http://blog.apiaxle.com/post/handy-git-tips-to-stop-you-getting-fired/)

    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    last = log -1 HEAD
[credential]
    helper = cache
[push]
    default = simple
